@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Work+Sans:wght@300;400;500&display=swap');

$body-font: 'Work Sans', sans-serif;
$heading-font: 'Poppins', sans-serif;

$bg-primary:#151514;
$bg-secondary:#1f1f1e;
$bg-tertiary:#2f2f2e;

$text-primary: #eaeae0;
$text-secondary: #9b9b97;
$text-tertiary: #494946;

$primary : #86A873;


